.nav-titulo {
  text-align: center;
  line-height: 40px;
  margin: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}

.nav-subtitulo {
  text-align: center;
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #222222;
  width: 100%;
}

.div-regresar{
  position: absolute;
}

.nav-registro {
  height: 100px;
  margin-top: 46px;
  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: #f8f8f8;
}
.subnavbar-titulo {
  line-height: 60px;
}

.divisor {
  margin: 0px;
}

.contenido-principal {
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  overflow-y: scroll;
  height: 100%;
  max-height: 735px;
}

.contenido-principal::-webkit-scrollbar { width: 0 !important }
.contenido-principal { overflow: -moz-scrollbars-none; }
.contenido-principal { -ms-overflow-style: none; }

.regresar {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #666666;
  padding-left: 5px;
}

@media all and (max-width: 912px) {
  .regresar {
    display: none;
  }
}
